body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-one {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  background-color: rgb(21, 36, 70);
  color: black;
  gap: 10px;
}

.box {
  background-color: rgb(173, 168, 156);
  color: whitesmoke;
  padding: 20px;
  font-size: 150%;
  border-radius: 2px;
  margin: 10px;
}

/* box-two-rules */

.box-two {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
  font-size: 150%;
}

.box2 {
  background-color: gray;
  color: #333;
  padding: 20px;
  margin: 10px;
  border-radius: 2px;
}

.A {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2
}
.B {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.C {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.D {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.E {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.F {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}